@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #151515;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
